- name: Installing dependencies
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - python3
    - gcc
    - python3-devel

- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: install requrements.txt
  ansible.builtin.command: pip3 install -r requirements.txt
  args:
    chdir: /app

- name: systemd setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup

- name: restart payment
  ansible.builtin.service:
    name: payment
    state: restarted
    enabled: yes