- name: app setup
  tags: 
  - deployment # when run ansible play book with -t <tag_name> from all the tasks in the playbook ot will only run tasks name matching to <tag_name>
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: nodejs setup
  tags: 
  - deployment
  #ansible.builtin.import_role: # This will respect the tag name and even role import functions also runs
  ansible.builtin.include_role: # include will not run nodejs from comman if run with tags
    name: common
    tasks_from: nodejs-setup.yaml

- name: systemd setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml

- name: copy mongo repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: install mongodb client
  ansible.builtin.dnf:
    name: mongodb-mongosh
    state: present

- name: check products loaded
  ansible.builtin.command: mongosh --host "{{ MONGODB_HOST }}" --quiet  --eval 'db.getMongo().getDBNames().indexOf("catalogue")'
  register: catalogue_output

- name: load the products
  ansible.builtin.shell: mongosh --host "{{ MONGODB_HOST }}" </app/db/master-data.js
  when: catalogue_output.stdout  | int < 0

- name: start catalogue
  tags: 
  - deployment
  ansible.builtin.service:
    name: catalogue
    state: restarted
    enabled: yes